@media only screen and (max-width: 480px){
    .password {
        padding: 1rem;
    }

    .password .text input {
        font-size: 1.5rem;
    }

    .password .text input.font-sm {
        font-size: 1.2rem;
    }
    .password .text input.font-xs {
        font-size: 1rem;

    }.password .text input.font-xxs {
        font-size: 0.7rem;
    }

    .password .actions img {
        width: 24px;
    }
}